
#portfolio {
  background: linear-gradient(rgba(177,166,172,.6), rgba(177,166,172,.6)),
    url("./images/Logo.png");
}

.article-image {
  height: 150px;
  width: 115px;
}
.navbar {
  background-color: grey
}
.portfolio-text{
  color:black;
}

.portfolio-text:hover {
  color: rgb(7, 16, 250);
}
