#portfolio {
  background-image:url("images/logo.png");
  opacity: .9;
}

.article-image {
  height: 150px;
  width: 115px;
}
.navbar {
  background-color: grey
}
#main {
  background-image: linear-gradient(to right, green, blue, purple);
}
.portfolio-text{
  color:black;
}

.portfolio-text:hover {
  color: rgb(7, 16, 250);
}
