
#portfolio {
  background: linear-gradient(rgba(177,166,172,.6), rgba(177,166,172,.6)),
    url("./images/Logo.png");
}

.article-image {
  height: 150px;
  width: 115px;
}
.navbar {
  background-color: grey;
  border-bottom: 1px solid black;
}
.portfolio-text{
  color:black;
}

.portfolio-text:hover {
  color: rgb(7, 16, 250);
}

#about_me {
 position: relative;
 text-align: center;
 color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
